* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    width: fit-content;
    font-size: 18px;
    color: #000;
    margin: 4px 15px;
    text-decoration: none;
}

p {
    margin: 4px 15px;
}
