a {
    display: inline-block;
    font-size: 20px;
    margin: 35px 25px;
    color: red;
    text-transform: capitalize;
    text-decoration: none;
}

p {
    margin: 0 35px;
    font-size: 20px;
    color: #000;
    text-transform: capitalize;
    text-decoration: none;
}
